{% extends 'base.html.twig' %}

{% block title %}Chat app
{% endblock %}

{% block body %}
	<style>
		body::-webkit-scrollbar {
			display: none; /* for Chrome, Safari, and Opera */
		}
		.messages-container {
			-ms-overflow-style: none; /* for Internet Explorer, Edge */
			scrollbar-width: none; /* for Firefox */
			overflow-x: hidden;
			overflow-y: auto;
		}
		.chats-container {
			-ms-overflow-style: none; /* for Internet Explorer, Edge */
			scrollbar-width: none; /* for Firefox */
			overflow-x: hidden;
			overflow-y: auto;
		}
		.nav-link {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
		.nav-link:hover {
			background-color: #0d6efd;
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function () {
$('#messages-container').scrollTop($('#messages-container')[0].scrollHeight);
});
	</script>

	<div
		class="container-fluid text-bg-dark">
		<!-- Start of row -->
		<div
			class="row">
			<!-- Start of sidebar -->
			<div class="d-flex flex-column flex-shrink-0 p-3 col-sm-3 card text-bg-dark vh-100">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
					<svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
					<span class="fs-4">Mes chats</span>
				</a>

				<hr>

				<a class="btn btn-outline-primary w-100 mb-2" type="button" href="{{ path('get_friends', {'currentChat': currentChat, 'typeChat': typeChat}) }}">
					Nouvelle discussion
					<i class="fas fa-plus mx-2"></i>
				</a>

				<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" class="chats-container flex-grow-1">
					<ul class="nav nav-pills flex-column">
						{% for chat in chats %}
							<li class="nav-item w-100 p-1">
								<a href="{{ path('get_chats', {'currentChat': chat.getId(), 'typeChat': chat.getType()}) }}" class="nav-link {{currentChat is same as chat.getId()|trans ? 'active' : 'text-white'}}" aria-current="page">
									{{ chat.getType() is same as 'server' ? chat.name : (chat.getUser1().getUsername() is same as user.getUsername() ? chat.getUser2().getUsername() : chat.getUser1().getUsername()) }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="row w-100 m-auto gy-2">
					<a href="{{ path('create_server', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-primary">Créer un serveur</a>
					<a href="{{ path('join_server', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-primary">Rejoindre un serveur</a>
				</div>
				<div>
					<hr>
					<div class="dropdown mb-2">
						<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{ user.getAvatar() }}" alt="" width="32" height="32" class="rounded-circle me-2" style="background: white">
							<strong>{{ user.getUsername() }}</strong>
						</a>
						<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
							<li>
								<a class="dropdown-item" href="{{ path('profile', {'currentChat': currentChat, 'typeChat': typeChat}) }}">Gérer mon profil</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('get_friends', {'currentChat': currentChat, 'typeChat': typeChat}) }}">Voir mes amis</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('security_logout')}}">Déconnexion</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End of sidebar -->
			{% if formMessage is not null and currentChat %}
				<div class="col-sm-9">
					<div
						class="p-4 d-flex vh-100 w-100 flex-column">
						<!-- Start of chat header -->
						<div class="row align-items-center">
							<div class="col-6">
								<h4 class="text-white">{{ chatName }}</h4>
							</div>
							<div class="col-6">
								{% if typeChat is same as 'server' %}
									<a href="{{ path('server_settings', {'currentChat': currentChat, 'typeChat': typeChat}) }}">
										<i class="fas fa-gear fa-lg text-white float-end"></i>
									</a>
								{% endif %}

							</div>
						</div>
						<!-- End of chat header -->
						<!-- Start of chat -->
						<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" class="messages-container p-2 m-2 flex-grow-1" id="messages-container">
							<ul class="list-unstyled d-flex justify-content-center flex-column m-auto">
								{% for message in messages %}
									<li class="d-flex justify-content-between mb-4">
										{% if message.getUser().getId() is not same as user.getId() %}
											<img src="{{ message.getUser().getAvatar() }}" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60" style="background: white;">
										{% endif %}
										<div class="card w-100 text-bg-light">
											<div class="card-header d-flex justify-content-between p-3">
												<p class="fw-bold mb-0">{{ message.getUser().getUsername() }}</p>
												<p class="text-muted small mb-0">
													<i class="far fa-clock"></i>
													{{ message.getTimeSinceNow() }}</p>
											</div>
											<div class="card-body">
												<p class="mb-0">
													{{ message.getContent() }}
												</p>
											</div>
										</div>
										{% if message.getUser().getId() is same as user.getId() %}
											<img src="{{ user.getAvatar() }}" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60" style="background: white;">
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
						<!-- End of chat -->
						<!-- Start of form -->
						{{ form_start(formMessage) }}
						<div class="row gx-2 align-items-center">
							<div class="col">
								{{ form_row(formMessage.message) }}
							</div>
							<div class="col-auto">
								<button type="submit" class="btn btn-primary rounded-pill">
									<i class="fas fa-paper-plane"></i>
								</button>
							</div>
						</div>
						{{ form_end(formMessage) }}
						<!-- End of form -->
					</div>
				</div>

			{% elseif currentChat is same as '' %}

				<div class="col-9">
					<div class="alert m-2" role="alert">
						<h4 class="alert-heading">Bienvenue sur le chat !</h4>
						<p>Pour commencez à discuter, vous devez rejoindre un serveur ou en créer un.</p>
						<hr>
					</div>
				</div>

			{% endif %}
		</div>
		<!-- End of row -->
	</div>
{% endblock %}
