{% extends 'base.html.twig' %}

{% block title %}Chat app
{% endblock %}

{% block body %}
	<style>
		body::-webkit-scrollbar {
			display: none; /* for Chrome, Safari, and Opera */
		}
		.messages-container {
			overflow-y: auto;
			-ms-overflow-style: none; /* for Internet Explorer, Edge */
			scrollbar-width: none; /* for Firefox */
			overflow-y: scroll;
		}
	</style>
	<div
		class="container-fluid text-bg-dark">
		<!-- Start of row -->
		<div
			class="row">
			<!-- Start of sidebar -->
			<div class="d-flex flex-column flex-shrink-0 p-3 col-sm-3 card text-bg-dark vh-100">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
					<svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
					<span class="fs-4">Mes chats</span>
				</a>

				<hr>

				<button class="btn btn-primary w-100" type="button">
					Nouvelle discusion
					<i class="fas fa-plus mx-2"></i>
				</button>

				<ul class="nav nav-pills flex-column mb-auto">
					{% for chat in chats %}
						<li class="nav-item">
							<a href="{{ path('get_chats', {'currentChat': chat.getId()}) }}" class="nav-link {{currentChat is same as chat.getId()|trans ? 'active' : 'text-white'}}" aria-current="page">
								<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
								{{ chat.name }}
							</a>
						</li>
					{% endfor %}
				</ul>

				<div class="position-sticky bottom-0">
					<div class="button-container">
						<a href="{{ path('create_chats', {'currentChat': currentChat}) }}" class="btn btn-primary">Créer un chat</a>
						<a href="{{ path('join_chats', {'currentChat': currentChat}) }}" class="btn btn-outline-primary">Rejoindre un chat</a>
					</div>
					<hr>
					<div class="dropdown mb-2">
						<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://github.com/varlopecar.png" alt="" width="32" height="32" class="rounded-circle me-2">
							<strong>{{ username }}</strong>
						</a>
						<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
							<li>
								<a class="dropdown-item" href="{{path('edit_user')}}">Profile</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('reset_password')}}">Réinitialiser le mot de passe</a>
							</li>
							<li>
								<a class="dropdown-item text-danger" href="{{path('delete_user')}}">Supprimer le compte</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('security_logout')}}">Déconnexion</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End of sidebar -->

			<div class="col-sm-9 d-flex vh-100">
				<div class="d-flex flex-column justify-content-between">
					<div class="p-3 m-3 rounded-3">
						<div class="row align-items-center mb-2">
							<div class="col-6">
								<h4 class="text-white">Chat</h4>
							</div>
							<div class="col-6">
								<a href="{{ path('settings_chat', {'currentChat': currentChat}) }}">
									<i class="fas fa-gear fa-lg text-white float-end"></i>
								</a>
							</div>
						</div>
						<!-- Start of chat -->
						<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" class="messages-container p-2 m-2" style="max-height: calc(100vh - 240px);">
							<ul class="list-unstyled d-flex justify-content-center flex-column m-auto">
								<li class="d-flex justify-content-between mb-4">
									<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
									<div class="card text-bg-light">
										<div class="card-header d-flex justify-content-between p-3">
											<p class="fw-bold mb-0">Brad Pitt</p>
											<p class="text-muted small mb-0">
												<i class="far fa-clock"></i>
												10 mins ago</p>
										</div>
										<div class="card-body">
											<p class="mb-0">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											</p>
										</div>
									</div>
								</li>
								<li class="d-flex justify-content-between mb-4">
									<div class="card w-100 text-bg-light">
										<div class="card-header d-flex justify-content-between p-3">
											<p class="fw-bold mb-0">Lara Croft</p>
											<p class="text-muted small mb-0">
												<i class="far fa-clock"></i>
												13 mins ago</p>
										</div>
										<div class="card-body">
											<p class="mb-0">
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
											</p>
										</div>
									</div>
									<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
								</li>
								<li class="d-flex justify-content-between mb-4">
									<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
									<div class="card text-bg-light">
										<div class="card-header d-flex justify-content-between p-3">
											<p class="fw-bold mb-0">Brad Pitt</p>
											<p class="text-muted small mb-0">
												<i class="far fa-clock"></i>
												10 mins ago</p>
										</div>
										<div class="card-body">
											<p class="mb-0">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- End of chat -->
						<form class="flex-shrink-0 mb-2 position-sticky bottom-0">
							<div class="form-group">
								<textarea class="form-control" rows="3" placeholder="Écrire un message..."></textarea>
							</div>
							<button type="submit" class="btn btn-primary mt-2">Envoyer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- End of row -->
	</div>

{% endblock %}
