{% extends 'base.html.twig' %}

{% block title %}Send your chat - Paramètres
{% endblock %}

{% block body %}
	{% include 'chat/chats.html.twig' %}

	<div class="modal" id="modal">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Paramètres du serveur</h6>
					<a href="{{ path('get_chats', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn-close"></a>
				</div>
				<div class="modal-body d-flex flex-column">
					<div
						class="d-flex flex-column">
						<!-- Make a copy on clipboard -->
						<h4 class="text-center">Code d'invitation</h4>
						<span id="copyConfirmation"></span>
						{% if serverToken %}
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="serverLink" value={{ serverToken }} readonly>
								<button class="btn btn-outline-secondary" type="button" id="copyServerLink">Copier</button>
								Le code expire dans 5 minutes...
							</div>
						{% else %}
							<a href="{{ path('server_settings', {'currentChat': currentChat, 'typeChat': typeChat, 'token': 'true'}) }}" class="btn btn-outline-primary mt-2">Générer un code d'invitation</a>
						{% endif %}
						<a href="{{ path('member_list', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-primary mt-2">Voir la liste des membres</a>
						{% if user is same as(owner) %}
							<a href="{{ path('update_server_name', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-primary mt-2">Modifier le nom du serveur</a>
							<a href="{{ path('update_server_owner', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-danger mt-2">Transférer la propriété du serveur</a>
							<a href="{{ path('delete_server', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-danger mt-2">Supprimer le serveur</a>
						{% else %}
							<a href="{{ path('leave_server', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-danger mt-2">Quitter le serveur</a>
						{% endif %}

					</div>
				</div>
				<div class="modal-footer">
					<a href="{{ path('get_chats', {'currentChat': currentChat, 'typeChat': typeChat}) }}" type="button" class="btn btn-secondary">Annuler</a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(window).on('load', function () {
$('#modal').modal({backdrop: 'static', keyboard: false}).modal('show');
});
const serverLink = document.getElementById('serverLink');
const copyConfirmation = document.getElementById('copyConfirmation');
const btnLink = document.getElementById('copyServerLink');

btnLink.onclick = function () {
serverLink.select();
serverLink.setSelectionRange(0, 99999);

navigator.clipboard.writeText(serverLink.value);

copyConfirmation.classList.add('text-success');
copyConfirmation.innerHTML = 'Lien copié !';
}
	</script>
{% endblock %}
