{% extends 'base.html.twig' %}

{% block body %}
	{% if background is same as 'chats' %}
		{% include 'chat/chats.html.twig' %}
	{% endif %}

	<script type="text/javascript">
		$(window).on('load', function () {
$('#modal').modal({backdrop: 'static', keyboard: false}).modal('show');
});
	</script>

	<div class="modal" id="modal">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content">
				{{ form_start(form) }}
				<div class="modal-header">
					<h5 class="modal-title">{{ modalTitle }}</h5>
					<a href="{{ path('get_chats') }}" class="btn-close"></a>
				</div>
				<div class="modal-body d-flex flex-column">

					{% for child in form %}
						{% if 'Token' not in form_label(child) %}
							{{ form_label(child) }}
							{{ form_widget(child) }}
						{% endif %}
					{% endfor %}
					<b class="text-danger">{{error}}</b>

				</div>
				<div class="modal-footer">
					<a href="{{ path('get_chats', {'currentChat': currentChat}) }}" type="button" class="btn btn-secondary">Annuler</a>
					<button type="submit" class="btn btn-primary">
						{{ confirmationTitle }}</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
