{% extends 'base.html.twig' %}

{% block title %}
	{% if isAdd %}
		Inscription
	{% else %}
		Mes informations
	{% endif %}
{% endblock %}

{% block body %}
	{{ form_start(form) }}

	{{ form_rest(form) }}
	{% if error %}
		<b class="text-danger">{{error}}</b>
	{% endif %}
	<input type="submit" value="Valider !"/>
	{{ form_end(form) }}

	{% if not is_granted('ROLE_USER') %}
		<a href="{{ path('security_login') }}">Connexion</a>
	{% endif %}
{% endblock %}
