{% extends 'base.html.twig' %}

{% block title %}Send your chat - Profil
{% endblock %}

{% block body %}
	{% include 'chat/chats.html.twig' %}

	<script type="text/javascript">
		$(window).on('load', function () {
$('#modal').modal({backdrop: 'static', keyboard: false}).modal('show');
});
	</script>

	<div class="modal" id="modal">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mon profil</h5>
					<a href="{{ path('get_chats', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn-close"></a>
				</div>
				<div class="modal-body d-flex flex-column">
					<div class="d-flex flex-column">
						<a href="{{ path('edit_user', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-primary mt-2">Modifier mon profil</a>
						<a href="{{ path('reset_password', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-warning mt-2">Réinitialiser mon mot de passe</a>
						<a href="{{ path('delete_user', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn btn-outline-danger mt-2">Supprimer mon compte</a>
					</div>
				</div>
				<div class="modal-footer">
					<a href="{{ path('get_chats', {'currentChat': currentChat, 'typeChat': typeChat}) }}" type="button" class="btn btn-secondary">Retour</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
