{% extends 'base.html.twig' %}

{% block body %}
	{% include 'chat/chats.html.twig' %}

	<script type="text/javascript">
		$(window).on('load', function () {
$('#modal').modal({backdrop: 'static', keyboard: false}).modal('show');
});
	</script>

	<div class="modal" id="modal">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content">
				<div class="modal-header">
						<h6 class="modal-title">Mes amis</h6>
					<a href="{{ path('get_chats', {'currentChat': currentChat, 'typeChat': typeChat}) }}" class="btn-close"></a>
				</div>
				<div class="modal-body d-flex flex-column">
					<ul>
						{% for friend in friends %}
							<li>
								{% if friend.getReceiver() is same as user %}
									{{ friend.getSender().getUsername() }}
									<a href="{{ path('create_discussion', {'currentChat': currentChat, 'typeChat': typeChat, 'username': friend.getSender().getUsername()}) }}" type="button" class="btn btn-primary">
										<i class="fa-solid fa-message"></i>
									</a>
									<a href="{{ path('remove_friend', {'currentChat': currentChat, 'typeChat': typeChat, 'friend': friend.getSender().getUsername()}) }}" type="button" class="btn btn-danger">
										<i class="fa-solid fa-trash"></i>
									</a>
								{% else %}
									{{ friend.getReceiver().getUsername() }}
									<a href="{{ path('create_discussion', {'currentChat': currentChat, 'typeChat': typeChat, 'username': friend.getReceiver().getUsername()}) }}" type="button" class="btn btn-primary">
										<i class="fa-solid fa-message"></i>
									</a>
									<a href="{{ path('remove_friend', {'currentChat': currentChat, 'typeChat': typeChat, 'friend': friend.getReceiver().getUsername()}) }}" type="button" class="btn btn-danger">
										<i class="fa-solid fa-trash"></i>
									</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="modal-footer">
					<a href="{{ path('get_chats', {'currentChat': currentChat, 'typeChat': typeChat}) }}" type="button" class="btn btn-secondary">Annuler</a>
					<a href="{{ path('add_friend', {'currentChat': currentChat, 'typeChat': typeChat}) }}" type="button" class="btn btn-primary">Ajouter un ami</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
